/* Global style values */
html {
    --lumo-font-family: "Roboto";
}

.search-button {
    border-radius: 15px;
    border: 3px solid #272222;
    font-size: 40px;
    font-weight: bold;
    color: white;
}

.drop-down-items {
    font-weight: bold;
    color: black;
}

.drop-down {
    --lumo-primary-text-color: grey;
    --lumo-primary-color: grey;
}

.entity-count-grid .v-grid-header th {
    font-weight: bold;
}